<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayname</key>
		<string>LOMO</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIExposureAdjust</string>
				<key>inputEV</key>
				<real>0.4777778</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIVignette</string>
				<key>inputIntensity</key>
				<real>0.9111111</real>
				<key>inputRadius</key>
				<string>0.8962963</string>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIPhotoEffectTransfer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>Fairy</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorControls</string>
				<key>inputContrast</key>
				<real>1.02963</real>
				<key>inputSaturation</key>
				<real>1.214815</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIExposureAdjust</string>
				<key>inputEV</key>
				<real>0.1074074</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIGammaAdjust</string>
				<key>inputPower</key>
				<real>0.7777778</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIVibrance</string>
				<key>inputAmount</key>
				<real>0.2740741</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>Time&amp;Tide</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorControls</string>
				<key>inputContrast</key>
				<real>1.014815</real>
				<key>inputSaturation</key>
				<real>0.5629629</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIPhotoEffectTransfer</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>MONO</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIPhotoEffectTonal</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>Vintage</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorControls</string>
				<key>inputContrast</key>
				<real>1.096296</real>
				<key>inputSaturation</key>
				<real>0.7407407</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorMonochrome</string>
				<key>inputColor</key>
				<dict>
					<key>r</key>
					<real>0.392157</real>
					<key>g</key>
					<real>0.309804</real>
					<key>b</key>
					<real>0.5333329999999999</real>
					<key>a</key>
					<integer>1</integer>
				</dict>
				<key>inputIntensity</key>
				<real>0.5333334</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIExposureAdjust</string>
				<key>inputEV</key>
				<real>0.5148148</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIPhotoEffectInstant</string>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>inputHighlightAmount</key>
				<integer>1</integer>
				<key>inputRadius</key>
				<real>0.4037037</real>
				<key>inputShadowAmount</key>
				<real>0.3481481</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>Hymnody</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIPhotoEffectFade</string>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>inputHighlightAmount</key>
				<real>0.7333333</real>
				<key>inputRadius</key>
				<real>0.2592593</real>
				<key>inputShadowAmount</key>
				<real>0.4148148</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIVignette</string>
				<key>inputIntensity</key>
				<real>0.4740741</real>
				<key>inputRadius</key>
				<real>0.4296296</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorMonochrome</string>
				<key>inputColor</key>
				<dict>
					<key>r</key>
					<real>0.964706</real>
					<key>g</key>
					<real>0.796078</real>
					<key>b</key>
					<real>0.337255</real>
					<key>a</key>
					<integer>1</integer>
				</dict>
				<key>inputIntensity</key>
				<real>0.0962963</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorControls</string>
				<key>inputContrast</key>
				<real>1.081481</real>
				<key>inputSaturation</key>
				<real>0.8666667</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>displayname</key>
		<string>Landscape</string>
		<key>filters</key>
		<array>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIColorControls</string>
				<key>inputContrast</key>
				<real>1.066667</real>
				<key>inputSaturation</key>
				<real>1.362963</real>
			</dict>
			<dict>
				<key>CIAttributeFilterName</key>
				<string>CIExposureAdjust</string>
				<key>inputEV</key>
				<real>0.06666667</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
