<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>30</integer>
			<key>g</key>
			<integer>75</integer>
			<key>b</key>
			<integer>123</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>panelColor</key>
		<dict>
			<key>r</key>
			<integer>238</integer>
			<key>g</key>
			<integer>235</integer>
			<key>b</key>
			<integer>230</integer>
			<key>a</key>
			<real>1</real>
		</dict>
		<key>description</key>
		<string>纸质色彩 / Paper color</string>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>0</integer>
		<key>styleName</key>
		<string>paperColor</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>255</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>panelColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<real>1</real>
		</dict>
		<key>description</key>
		<string>夜间模式 / NightMode</string>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>0</integer>
		<key>styleName</key>
		<string>nightmode</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>51</integer>
			<key>g</key>
			<integer>51</integer>
			<key>b</key>
			<integer>51</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>panelColor</key>
		<dict>
			<key>r</key>
			<integer>220</integer>
			<key>g</key>
			<integer>239</integer>
			<key>b</key>
			<integer>235</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>description</key>
		<string>护眼风格 / Eye style</string>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>0</integer>
		<key>styleName</key>
		<string>eyeStyle</string>
	</dict>
	<dict>
		<key>fontColor</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>panelColor</key>
		<dict>
			<key>r</key>
			<integer>255</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>255</integer>
			<key>a</key>
			<integer>1</integer>
		</dict>
		<key>description</key>
		<string>面板颜色 / Panel color</string>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>0</integer>
		<key>styleName</key>
		<string>panelColor</string>
	</dict>
</array>
</plist>
